CompileFlags:

  Add: [-std=c++17, -ferror-limit=0, -frelaxed-template-template-args,
        -isystem, -I/usr/local/cuda/include, -I/usr/include/c++/9,
        -I/usr/include/x86_64-linux-gnu/c++/9, -I/usr/include/c++/9/backward,
        -I/usr/lib/gcc/x86_64-linux-gnu/9/include, -I/usr/local/include,
        -I/usr/include/x86_64-linux-gnu, -I/usr/include ]

  Remove: -mabi

Index:
    Background: Skip
    StandardLibrary: No

Diagnostics:
  Suppress: [conflicting_types, builtin_definition]

  ClangTidy:
    Add: [performance*, modernize*, readability*]
    Remove: [modernize-use-trailing-return-type]
    CheckOptions:
      readability-function-cognitive-complexity.Threshold: 150
      readability-identifier-naming.VariableCase: lower_case

